*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(../../assets/img/blue-black.jpg);
    background-position: cover;
    color: #EAF4FF;
}
header {
    background-image: url(../img/elements.webp);
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 4rem;
}

/* NAVBAR */
nav {
    background: rgba(20, 20, 30, 0.7);
    backdrop-filter: blur(8px);
    border-bottom: 2px solid #FFD700;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    position: relative;
    color: #EAF4FF;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-radius: 10px;
}

li a::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #FFD700, #FF6F00);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}

li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

li a:hover {
    color: #FFD700;
    background: rgba(255, 215, 0, 0.1);
    border-color: #FFD700;
    box-shadow: 0 0 10px #FFD70066;
}


/* TITRES */
h1 {
    font-size: 4rem;
    text-align: center;
    background: linear-gradient(90deg, #FFD700, #ff6f00, #ff00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: brillance 3s infinite linear;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

@keyframes brillance {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h2 {
    text-align:justify;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-left: 7rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  background: linear-gradient(270deg, #e25822, #ffe92e, #1e90ff, #a0e9ff);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.success {
    text-align: center;
    font-size: 1.5rem;
    color: #7970ff;
}

.error {
    text-align: center;
    font-size: 1.5rem;
    color: #f26b6b;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

form {
    width: 400px;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
}

.formulaire {
    display: flex;
    justify-content: center;
}
input, select, textarea {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
}

button {
    padding:10px;
    border:none;
    background-color:#413F54;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:50%;
    transition:all ease-in-out 0.3s ;
    cursor: pointer;
}

button:hover {
    background-color: #7970ff;
}
fieldset {
    border: 1px solid white;
    padding: 1rem;
    margin-bottom: 1rem;
}

fieldset label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.1rem;
}

fieldset input {
    width: auto;
}

/*   BESTIAIRE   */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}
.card {
    width: 20%;
    text-align: center;
    background-color: #1e1e2f;
    color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.3rem;
    color: #ffe066;
}

.card .author {
    font-style: italic;
    color: #aaa;
    margin-top: 1rem;
}

.bestiaire {
    padding: 1rem;
}

.btn-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 1rem;
}

.btn-card a {
    padding: 0.5rem 1rem;
    background-color: #05084b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-card a:hover {
    background-color: #7970ff;
}

/* LE CODEX  */
.elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(200px);
    gap: 2rem;
    padding: 2rem;
}

.element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: #EAF4FF;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.element:hover {
    transform: scale(1.01);
}

.element img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.element h3 {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
}

.element p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
    color: #555;
}


/* Bordures par element */
.element.feu {
    border-left: 6px solid #e25822;
    border-top: 3px solid #e25822;
}

.element.eau {
    border-left: 6px solid #1e90ff;
    border-top: 3px solid #1e90ff;
}

.element.air {
    border-left: 6px solid #a0e9ff;
    border-top: 3px solid #a0e9ff;
}

.element.lumière {
    border-left: 6px solid #ffe92e;
    border-top: 3px solid #ffe92e;
}

/* RESPONSIVE */
@media (max-width: 768px) {
   .cards {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
    }
    .elements {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .element {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    form {
        width: 90%;
    }

    input, select, textarea {
        font-size: 1rem;
    }

    button {
        width: 100%;
    }
        h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
        padding-left: 2rem;
        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
    }

}
