*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color:#0B0E1C;
    color: #EAF4FF;
}
header {
    background-image: url(../img/elements.webp);
    height: 80vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 4rem;
}

ul{
    display:flex;
    justify-content: center;
    gap: 2rem;
}

li a{
    color: #EAF4FF;
    font-weight: 600;
    font-size: 1.2rem;
}

h1 {
    color: #FFD700;
    margin-top: 35vh;
    font-size: 4rem;
}
h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
  font-weight: bold;
  background: linear-gradient(270deg, #ff8a00, #e52e71, #9b00ff, #00c6ff, #ff8a00);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Firefox */
  color: transparent;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.success {
    text-align: center;
    font-size: 1.5rem;
    color: #7970ff;
}

.error {
    text-align: center;
    font-size: 1.5rem;
    color: #f26b6b;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


form {
    width: 400px;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
}

.formulaire {
    display: flex;
    justify-content: center;
}
input, select, textarea {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
}

button {
    padding:10px;
    border:none;
    background-color:#413F54;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:50%;
    transition:all ease-in-out 0.3s ;
    cursor: pointer;
}

button:hover {
    background-color: #7970ff;
}
fieldset {
    border: 1px solid white;
    padding: 1rem;
    margin-bottom: 1rem;
}

fieldset label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.1rem;
}

fieldset input {
    width: auto;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}
.card {
    width: 20%;
    text-align: center;
    background-color: #1e1e2f;
    color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card h3 {
    margin: 0 0 0.5rem;
    font-size: 1.3rem;
    color: #ffe066;
}

.card .author {
    font-style: italic;
    color: #aaa;
    margin-top: 1rem;
}

.bestiaire {
    padding: 1rem;
}

.btn-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 1rem;
}

.btn-card a {
    padding: 0.5rem 1rem;
    background-color: #05084b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-card a:hover {
    background-color: #7970ff;
}